@model MVCFormValidation.Models.Person

<h2>Submitted Result:</h2>
<p><strong>Name: </strong>@Model.Name</p>
<p><strong>You are </strong>@Model.Age <strong>years old</strong></p>
<a asp-action="Input" class="btn btn-primary">Go back to form</a>